<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>BMDE - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="/static/lib/foundation/css/normalize.css">
        <link rel="stylesheet" href="/static/lib/foundation/foundation.css">
        <link rel="stylesheet" href="/static/lib/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/style.css">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Special+Elite" />
    </head>
    <body>
        <nav role="navigation" data-topbar="" class="top-bar">
            <section class="top-bar-section">
                <ul class="title-area">
                    <li class="name">
                        <h1>
                            <a href="http://www.dewey.be/explications">
                                Belgique mode d'emploi
                                <i class="fa fa-map-o"></i>
                            </a>
                        </h1>
                    </li>
                </ul>
            </section>
        </nav>
            {% block content %}
            {% endblock %}
    </body>
</html>
