{% extends "registration/base.html" %}
{% load i18n %}

{% block content %}
<table class="container bmde-form" align="center">
    <form method="post" action="">
        {% csrf_token %}
        {{ form }}
        <tr>
            <th></th>
            <td><input type="submit" class="button" value="{% trans 'Log in' %}" /></td>
        </tr>
        <tr>
            <th></th>
            <td>
                {% trans "Forgot password" %}? <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a><br>
                {% trans "Not member" %}? <a href="{% url 'registration_register' %}">{% trans "Register" %}</a></td>
            </td>
        </tr>

        </tr>


        <input type="hidden" name="next" value="{{ next }}" />
    </form>
</table>

<p></a>!</p>

{% endblock %}
