{% extends "iframe/base.html" %}

{% block "content" %}
<div class="row">
    <div class="large-12 columns">
    <h1>Intégrez DeweyMaps à votre site</h1>
    </div>
</div>
    <form action="" method="POST">{% csrf_token %}
        {{ form.non_field_errors }}
        <div class="row">
            <div class="large-12 columns">
                <h3>Choisissez où centrer la carte</h3>
                <p>Déplacez la carte et zoomez comme vous voulez</p>
            </div>
            <div class="large-12 columns">
                <div id="map" style="height: 400px"></div>
                <br>
            </div>
            <div class="large-4 columns">
              <label>Latitude
                <input type="text" name="latitude" readonly />
              </label>
            </div>
            <div class="large-4 columns">
              <label>Longitude
                <input type="text" name="longitude" readonly />
              </label>
            </div>
            <div class="large-4 columns">
              <label>Zoom
                <input type="text" name="zoom" readonly />
              </label>
            </div>
            <div class="large-12 columns">
                <h3>Choisissez les catégories de points à afficher</h3>
            </div>
            {% for cat in categories %}
                <div class="large-4 columns">
                    <h5 style="background-color: #{{cat.color}}; padding: 0.2em"><i class="fi fi-folder"></i> {{cat.name}}</h5>
                    {% for subcat in cat.subcategory_set.all %}
                        <label style="padding-left: 1.5em">
                            <input type="checkbox" name="subcategories" value="{{subcat.id}}">
                            {{subcat.name}}
                        </label>

                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="large-12 columns">
                <input type="submit" value="Créer ma carte" class="button"/>
            </div>
        </div>
    </form>

{% endblock %}

{% block scripts %}
<script>
var map = L.map('map').setView([50.84, 4.36], 12);


L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
    maxZoom: 18,
    id: 'c4ptaincrunch.ka5engdh',
    accessToken: 'pk.eyJ1IjoiYzRwdGFpbmNydW5jaCIsImEiOiJUdWVRSENNIn0.qssi5TBLeBinBsXkZKiI6Q'
}).addTo(map);

var update = function(){
    pos = map.getCenter();
    $("input[name='latitude']").val(pos.lat);
    $("input[name='longitude']").val(pos.lng);
    $("input[name='zoom']").val(map.getZoom());
};

$( document ).ready(function() {
    update();
});

map.on('zoomend', function(e) {
    update();
});

map.on('dragend', function(e) {
    update();
});
</script>
{% endblock %}
