<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/static/lib/foundation/foundation.css">
  <link rel="stylesheet" href="/static/lib/leaflet/leaflet.css" />
  <link rel="stylesheet" href="/static/lib/font-awesome/css/font-awesome.min.css">
</head>
<body style="padding: 0; margin: 0" frame_id="{{map.id}}">
  <div id="map" style="width: 100%; height: 100vh">
  </div>

  <script data-main="/static/frame" src="/static/lib/requirejs/require.js"></script>
</body>

</html>
