{% extends "iframe/base.html" %}

{% block "content" %}
    <div class="row">
        <div class="large-12 columns">
            <h1>Dewey Maps</h1>
            <h3>Voici le code à insérer dans votre page web</h3>
        </div>
        <div class="large-12 columns">
            <code>
{% filter force_escape|lower %}
<iframe src="http://maps.dewey.be/frame/{{id}}" style="width:100%; height:500px"></iframe>
{% endfilter %}
            </code>
        </div>
        <div class="large-12 columns">
            <br>
            <a href="/" class="button">Retour à Dewey Maps</a>
        </div>
    </div>
{% endblock %}
